body {
    background-color: bisque;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 600px;
    height: 700px;
    background-color: yellowgreen;
    display: flex;
    /* default row */
    flex-direction: row;
    /* main-axis */
    justify-content: flex-start;
    /* cross-axis */
    align-items: flex-start; 
    /* flex-wrap: wrap; */
    gap: 10px 10px;
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
}

.flex-item {
    width: 200px;
    height: 100px;
    font-size: 12pt;
    color: white;
}

.flex-item:nth-child(1) {
    background-color: red;
    /* align-self: center; */
    /* flex : 1; */
}

.flex-item:nth-child(2) {
    background-color: blue;
    /* flex : 1; */
}

.flex-item:nth-child(3) {
    background-color: green;
    /* flex : 1; */
}

.flex-item:nth-child(4) {
    background-color: orange;
    /* flex-grow: 1;
    flex-basis: 200px; */
    /* flex: 1 200px; */
}

.flex-item:nth-child(5) {
    background-color: purple;
    /* flex-grow : 1; */
    /* flex-basis: 200px;
    height: 500px;
    width: 500px; */
    /* width: 100px; */
    /* flex-shrink: s; */
    /* flex: 10; */
    /* align-self: flex-end; */
    /* flex-grow: 1; */
}