#div-parent {
    width: 500px;
    height: 300px;
    font-size: 16pt;
    /* padding: 10px; */
    color: white;
    background-color: yellowgreen;
    position: relative;
    /* left: 50px;
    top : 50px; */
}

#div-child {
    width: 100px;
    height: 100px;
}

#div-child:first-child {
    background-color: coral;
    position: relative;
    top: 20px;
}

#div-child:nth-child(2) {
    background-color: blueviolet;
    position: absolute;
    bottom : 20px;
    right: 50px;
}

body {
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
}